* {
	margin: 0px;
	padding: 0px;
	border: none;

}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Archivo', sans-serif;
	color: white;
}

body {
    font-size: 40px;
}

#game-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: green;
}

#game-container button{
    position: relative;
    left: 40%;
    width: 20%;
    margin-top: 20px;
}

#game-container div {
    margin-top: 20px;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	width: 5%;
	height: 40px;
}

input {
	width: 23%;
	height: 40px;
}

#letter {
    display: block;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    background-color: lightgray;
}

#letter ul {
    list-style: none;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

#letter ul li {
    background-color: white;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
	display: inline-block;
}